body {
    font-family: Arial, sans-serif;
    background-color: #f3f4f6;
    margin: 0;
    padding: 20px;
}
h1 {
    color: #333;
}
.container {
    max-width: 800px;
    margin: 0 auto;
}
.form-group {
    margin-top: 15px;
}
label, input, textarea, button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}
input[type="text"], textarea, input[type="number"] {
    padding: 8px;
    font-size: 16px;
    max-width:97%;
}
#categoryCheckboxes {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 10px;
}
.category-item {
    display: flex;
    align-items: center;
    gap: 5px;
}
#selectedCategories {
    margin-top: 10px;
    font-size: 14px;
    color: #333;
}
button {
    padding: 10px;
    background-color: #007acc;
    color: white;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #005f99;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
table, th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #007acc;
    color: white;
}
.header {
    position: sticky; /* Sticky position */
    top: 0;          /* Dính vào đầu khi cuộn */
    background: #f0efeb;
    width:932px;
    text-align: center;
    z-index: 1;      
    
}
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
  }
  
  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 70%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
  }
  
  .close-btn {
    background: red;
    color: white;
    padding: 5px 10px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
  }
  .category-checkbox-card {
    display: flex;
    align-items: center;
    margin: 10px 0;
    
  }
  
  .category-label {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 5px; /* Khoảng cách giữa checkbox và text */
    margin : 8px;
  }
  
  .category-name {
    font-size: 14px;
    color: #333;
    margin-left: -5px;
  }
  
  input[type="checkbox"] {
    width: 16px;
    height: 16px;
  }
  .scrollable {
    max-height: 200px;  /* Bạn có thể điều chỉnh chiều cao tùy ý */
    overflow-y: auto;   /* Cho phép cuộn dọc khi danh sách quá dài */
    margin-bottom: 20px;  /* Cung cấp khoảng cách phía dưới */
    display : flex;
    flex-wrap: wrap;

  }
  .scrollable-main {
    max-height: 100%;  /* Bạn có thể điều chỉnh chiều cao tùy ý */
    overflow-y: auto;   /* Cho phép cuộn dọc khi danh sách quá dài */
    margin-bottom: 20px;  /* Cung cấp khoảng cách phía dưới */
  }
ul {
    display: flex;
    list-style-type: none;
}
li {
    margin: 8px;
}