.uk-button {
    transition: all 0.3s ease; /* Hiệu ứng mượt */
  }
  
  .uk-button:hover {
    filter: brightness(90%);
  }
  
  .uk-button.saved {
    background-color: #FF6F61 !important;
    border: 2px solid #FF4500 !important;
    color: white !important;
  }
  
  .uk-button.in-cart {
    background-color: #32CD32 !important;
    border: 2px solid #228B22 !important;
    color: white !important;
  }
  