/* Container của filter bar */
.filter-bar {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap; /* Cho phép phần tử xuống dòng khi không đủ chỗ */
    gap: 10px;
}

/* Các category item */
.filter-bar .category-item {
    display: flex;
    align-items: start;
    gap: 5px;
    margin-right: 10px;
    padding: 8px;
    background-color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    white-space: nowrap; /* Ngăn không cho text xuống dòng */
    flex-shrink: 0; /* Đảm bảo phần tử không co lại khi không gian nhỏ */
}

/* Khi hover trên category item */
.filter-bar .category-item:hover {
    background-color: #dcdcdc;
    border-radius: 50px;
}

/* Khi category item ở trạng thái active */
.filter-bar .category-item.active {
    background-color: #007bff;
    color: white;
    border-radius: 50px;
    padding: 8px 20px;
}

/* Đặt độ rộng tối đa cho category item */
.filter-bar .category-item {
    max-width: 150px; /* Điều chỉnh độ rộng tối đa của mỗi category */
}

/* Các label bên trong filter bar */
.filter-bar label {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}
