body {
    font-family: Arial, sans-serif;
    background-color: #ffffff !important;
    margin: 0px;
    padding: 0px !important;
}

.mainContent {
    padding-top: 40px ;
    /* margin-left: 40px;
    margin-right: 40px; */
    padding-left: 40px;
    padding-right: 40px;
    height: auto;
}

.divMain{
    display: flex;
    justify-content: center;
}

.divHome {
    background-color: #ffffff;
    padding: 0px;
    margin: 0;  
    width: 80%;
}

.recipeLayout {
    display: flex;
    gap: 20px;
    /* Chiều rộng Sidebar cố định và Recipes chiếm phần còn lại */
    align-items: flex-start;
}

.sidebar {
    width: 213px;
    padding: 20px;
    box-sizing: border-box;
}

.recipes {
    flex-grow: 1;
    /* Recipes chiếm phần còn lại */
    padding: 0px;

}

/* nut overplay */
/* To cover the entire screen */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  /* Form styling */
  .form-container {
    position: relative;
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  /* Close button */
  /* .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #333;
  } */
  
  .close-button:hover {
    color: red;
  }
  
  /* Form group styling */
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  textarea {
    resize: none;
    height: 80px;
  }
  

.recipe-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* 4 items per row */
  gap: 20px;
  /* space between items */
  margin-top: 20px;
}

@media (max-width: 1200px) {
  .recipe-grid {
    grid-template-columns: repeat(3, 1fr);
    /* 3 items per row on medium screens */
  }
}

@media (max-width: 900px) {
  .recipe-grid {
    grid-template-columns: repeat(2, 1fr);
    /* 2 items per row on small screens */
  }
}

@media (max-width: 600px) {
  .recipe-grid {
    grid-template-columns: 1fr;
    /* 1 item per row on very small screens */
  }
}

.btnLoadmore {
  margin-top: 20px;
  border: solid 1px #eb4a36;
}

.btnLoadmore:hover {
  background-color: #c22611;
  border: solid 1px #eb4a36;
}